body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background:#eee;
}

a {
  color:#508ef2;
  text-decoration: none;
}

label {
  font-size:0.9em;
  font-weight:bold;
  padding: 5px;
}

select {
  padding: 5px;
}

table {
  width:100%;
  margin-top:5px;
  font-size:1em;
  border-collapse: collapse;
  background:white;
  border:2px solid #ddd;
}

td {
  border:1px solid #ddd;
  padding:5px;
}

tbody td {
  background:#25a162;
  font-weight:bold;
}

thead tr:first-child {
  background:#333;
  color:white;
}

thead tr:nth-child(2) {
  background:#fff;
  color:#333;
}

.not {
  background:#db5149;
  font-weight:normal;
}

.weak {
  background:#fecd51;
  font-weight:normal;
}

ul {
  padding-left:0;
  font-size:0.9em;
}

ul li {
  line-height:1em;
}

ul li:before {
  content:' ';
  width:1em;
  height:1em;
  display:inline-block;
  margin-right:0.5em;
}

ul li:first-child:before {
  background:#25a162;
}

ul li:nth-child(2):before {
  background:#fecd51;
}

ul li:last-child:before {
  background:#db5149;
}